name: CI Pipeline

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main, "feature/**" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build with Maven
        run: mvn -B -DskipTests package

      - name: Run tests
        run: mvn -B test

      - name: Build Docker images
        run: |
          docker build -t splitpay-payments ./payments-service
          docker build -t splitpay-notification ./notification-service
